@import "tailwindcss";

:root {
}

@theme inline {
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(0,0,0,0.8);
}
@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;

}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-wave {
  display: inline-block;
  animation: wave 1.5s infinite ease-in-out;
  transform-origin: center;
}
@keyframes shrinkAndFade {
  0% {
      transform: scale(1);
      opacity: 1;
  }
  100% {
      transform: scale(0);
      opacity: 0;
      width: 0;
      height: 0;
  }
}
@keyframes growAndAppear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-progessButton{
  border-radius:"50%";

  animation: shrinkAndFade 1s ease-out forwards;
  transition: transform 0.3s ease;
}
.animate-progessText{
color:red;
}
.animate-progressBar{
  animation: growAndAppear 0.8s ease-out forwards;
  transition: transform 0.3s ease;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width:10px;

}
::-webkit-scrollbar-track{
  background:transparent;
}
::-webkit-scrollbar-thumb{
  border-radius: 12px;

  background: rgb(67, 65, 65);
}
::-webkit-scrollbar-thumb:hover{
      background:white;
  
}

